 * {
   box-sizing: border-box;
   margin: 0px;
 }
 .Container-title{
  height: 160px;
 font-size: 20pt;
 font-weight: bold;
 display: flex;
 justify-content: flex-end;
 align-items: center;

 }

 .Filter{
  display: flex;
  align-items: center;
   margin-right: 200px;
   
 }

 .Filter a{
   background-color:#ED1A39;
  padding:10px;
  text-decoration: none;
  color:#fff;
  font-weight: bold;

 }

 .Filter-box{
   width: 330px;
   height: 40px;
   border: 1px solid #959595
 }
 .Container-title  .Title{
  position: absolute;
  left: 150px;
  margin-top: -30px;
 }


 .Container-title  .Title .WEB-logo{
  color: #ED1A39;
  position: absolute;
  margin-left: -90px;
 }

  .Container-title  .Title .JUMP-logo{
  color: #1A1818;
   position: absolute;
  margin-left: 32px;
 }
 
 body .rangeBlack{
  background-color: #231F20;
  height:30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

 body .rangeBlack .range-link{
  margin-right: 25px;
  color: white;
  
}

 body .rangeBlack .range-link a{
  color: white;
  font-weight: bold;
  
}

body .navbar{
  background-color: #222;
  

}

body  .navbar .list-links{
  background-color: #ED1A39;
  display:flex;
  list-style: none;
  justify-content:start;
  font-weight: bolder;
}


body  .navbar .list-links li{
  padding: 20px;
  margin-left: 70px;
  cursor: pointer;
  font-size: 20px;
}

body  .navbar .list-links li a{
  text-decoration: none;
  color: #ffff
  
}

body  .navbar .list-links .BigLink{
  text-decoration: none;
  white-space:nowrap;
  
}
  main {
    display: flex;
  }
body aside {
  background-color: blue;
  top: 222px;
  left: 101px;
  width: 261px;
  height: 507px;
  margin: 20px;
  background: #E2DEDC 0% 0% no-repeat padding-box;
opacity: 1;


}

body .main-links li {
  margin-top: 1px;
  padding: 5px;

}

body .main-links li a{
  text-decoration: none;
  color: black;
  cursor: pointer;

}
 main {
   display: flex;
   justify-content: center;
   padding: 20px;
   padding-right: 300px;
   
 }

 main .main-container {
  padding-left: 50px;
 }

.main-container .image-container{
  background-color: #ACACAC;
  top: 222px;
  left: 387px;
  width: 954px;
  height: 281px;
}

.main-container .text-container {
  top: 559px;
  left: 389px;
  width: 952px;
  height: 181px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: sans-serif;
}

footer {
top: 753px;
left: 101px;
height: 176px;
background: #CB0D1F 0% 0% no-repeat padding-box;
opacity: 1;
}